{% extends 'layouts/post_layout.html' %}

{% block content %}
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-4">Acerca de</h1>
        <p class="mb-4">Bienvenidos a nuestro blog, donde exploramos temas variados y compartimos nuestras ideas y opiniones.</p>
        <h2 class="text-2xl font-semibold mb-2">Nuestro Equipo</h2>
        <p>Somos un equipo apasionado por la escritura y la tecnología, comprometidos a brindarte contenido interesante y relevante.</p>
    </div>
{% endblock content %}