<!-- blog\templates\index.html --> 
{% extends 'layouts/general_layout.html' %} 

{% block title %}Inicio | MixDRinks 🍹{% endblock title %}

{% block content %}
  <div class= "flex justify-start ">
     <h1 class=" mt-72 ml-10 text-white text-6xl">Bienvenidos a MiXDRiNKs<br>El arte de Mezclar<br>
        <p class=" text-gray-500 text-lg ml-4 mt-4">La preparacion de un coctel es un ritual que requiere<br>atención al detalle y amor por la perfeccion.
        <br>Cada movimiento, cada ingrediente y cada técnica <br>son parte de un proceso que eleva<br>la mixología a un arte...<br>Te invitamos a explorar el mundo de la mixologia <br>
        con nosotros.</p>
        <p class="ml-4 text-white italic text-lg ">¡Descubre,aprende y crea tus propios MixDrinks!</p>
     </h1>
  </div>
  <h1 class=" mt-60 ml-4 flex justify-start text-white text-3xl border-b border-gray-500 font-bold">Explora los ultimos articulos>></h1>
  <br>
  <br>
  <div class="grid grid-cols-3 gap-4 mt-70">
   {% for post in object_list %}
     <div class="ml-4 p-4 bg-orange-500 bg-opacity-30 text-white rounded-2xl">
        {% for image in post.images.all %}
          <img src="{{ image.image.url }}" alt="Imagen del post" class="w-12 rounded-md" />
        {% empty %}
          <small>No hay imágenes disponibles para este post.</small>
        {% endfor %} 
        <h3 class="text-xl uppercase font-bold border-b border-black"> {{post.title}} </h3>
        <p class="text-sm mt-3">{{ post.content | truncatewords:10 }}</p>         
       </div>
   {% endfor %}
 </div>
  <a href="{% url 'post:post_list' %}" class="mt-16 bg-blue-300 hover:bg-blue-700 font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 mx-auto block w-80 text-center">Ver más</a>
  <br>
  <br>
  <br>
{% endblock content %}


        