{% extends "layouts/general_layout.html" %}


{% block title %}Perfil del Usuario{% endblock title %}

{% load static %}
{% block content %}
 <main class="h-screen flex flex-col justify-center items-center">
   <div class="container max-w-4xl mx-auto h-auto  rounded-3xl bg-gray-100 bg-opacity-30 backdrop-blur-md">
      <div class="flex flex-col md:flex-row md:space-x-4">
        <div class="w-60 h-65 md:w-64 md:h.64 rounded-full overflow-hidden">
           <img src="{% static 'assets\usuario.png' %}" alt="imagen del usuario" class="object-cover">
        </div>
    

        <div class="flex-1">
         <h2 class="mt-4 text-2xl font-bold mb-2">Hola {{ user.username }}!</h2>

         <div class="flex flex-wrap mb-4">
           <div class="w-full md:w-1/2 xl:w1/3 px-4 mb-4">
              <h3 class="text-lg text-md font-bold mb-2 border-b border-black ">Informacion de contacto</h3>
              <p class="mt-2 text-md font-bold">Correo electronico: {{ user.email }}</p>
              <p class="mt-2 text-md font-bold">Tu alias: {{ user.alias }}</p>
           </div>
         </div>
       </div>

       <div class="mt-auto">
         <form method="post" action="{% url 'user:auth_logout' %}">
           {% csrf_token %}
           <button class="mb-4 mr-4 h-10 bg-red-500 text-white text-sm p-2 rounded-lg" type="submit">Cerrar sesión</button>
         </form>
       </div>
     </div>
   </div>
  </main>

{% endblock content %}