{% extends 'layouts/auth_layout.html' %}

{% block title %}Iniciar sesión | MiXDRiNKs{% endblock title %}

{% load static %}

{% block content %}
<div class="flex flex-col justify-center p-8 md:p-14">
 <div class="ml-32">
    <img src="{% static 'assets/usuario.png' %}" alt="inicio sesion img" class=" w-24 h-24 ml-2 mx-auto mb-4"/>
  </div>
 <h1 class="mx-auto mt-6 mb-3 text-4xl font-bold">Iniciar sesión</h1>
 <h2 class="mx-auto font-light text-gray mb-8">Bienvenido de nuevo! Por favor ingrese sus datos</h2>
 <form class="flex flex-col max-w-[400px] gap-4" method="post">
   {% csrf_token %} 
   <div class= "mt-4 flex flex-col gap-8">
      <p class= "mx-auto mb-2 font-bold text-md">{{ form.username.label_tag }} {{ form.username }}</p>
      <p class=" mx-auto mb-2 font-bold text-md">{{ form.password.label_tag }}{{ form.password }}</p>
    <div>
    <div class="mt-4 flex justify-between w-full py-4">
      <div class="mr-24">
        <input type="checkbox" name="check" id="check" class="mr-2"/>
        <span class="text-md">Recordarme</span>
      </div>
      <button 
        type="submit" 
        class="mt-8 w-full bg-black text-white p-2 rounded-lg mb-6"
        href="{% url 'user:user_login' %}">Iniciar sesión
      </button>
      <div class="text-center text-gray-400">No tienes una cuenta?
       <span><a class="font-bold text-black" href="{% url 'user:auth_register' %}">Registrate gratis</a></span>
      </div>
    </div>
 </form>
</div>
{% endblock content %}