<!-- blog\templates\layouts\general_layout.html --> 
{% extends 'layouts/base_layout.html' %} 

{% block title_layout %} 
  {% block title %}MixDrinks | 🍹{% endblock title %} 
{% endblock title_layout %} 

{% load static %}
{% block extra_head_layout %}
   {% include "Components\commons\header.html" %}
{% endblock extra_head_layout%}

{% block content_layout %}
  <div class=" bg-fixed bg-cover bg-center w-screen min-h-[calc(100dvh-10px)]" style="background-image:url('{% static 'assets\back-ground.png' %}');}">
    {% block content %}{% endblock content %}  
  </div>
{% endblock content_layout %}

{% block footer_layout %}
  {% include "Components\commons\footer.html" %}
{% endblock footer_layout %}