{% extends "layouts/post_layout.html" %}


{% block title %}{{ post.title }}| MiXDRiNKs {% endblock title %}

{% load static %}
{% block content %}
 <div class="flex flex-col w-full">
   {% if active_images %}
     <div class="mt-4 ml-4 grid grid-cols-1">
       {% for img in active_images %}
         <a href= "{{ img.image.url }}" target="_blank">
           <img
           src= "{{ img.image.url }}" 
           alt= "Portada del post" 
           class= "w-[400px] object-cover aspect-[10/9]" >
         </a>
       {% endfor %}
     </div>
    {% endif %}
   <h3 class= "ml-4 mt-6 text-2xl uppercase font-bold border-b border-black">{{ post.title }}</h3>
   <div class= "flex justify start ml-4 mt-4 items-center gap-2">
     <img class= "icon-rec w-8 h-8" src= "{% static 'assets\reloj.png' %}" alt= "Tiempo de preparacion"/><span class="whitespace-nowrap">{{ post.time }}</span>
     {% if post.category %}
       <img class= "icon-rec w-8 h-8" src= "{% static 'assets\categorias.png' %}" alt="Categoria"/>{{ post.category.title }}
     {% else %}
       <img class= "icon-rec w-8 h-8" src= "{% static 'assets\categorias.png' %}" alt="Categoria"/>Categoría: "Sin definir"   
     {% endif %}
   </div>

   <div class="ml-8 mt-12 text-xl inline-block bg-white bg-opacity-30 rounded-md px-4 py-2 w-fit">
     {{ post.content|linebreaksbr|safe }}
   </div>


 <div class= "flex justify-center items-center mt-12">
   <p>Publicado por: <strong class="font-bold">{{ post.author.username }}</strong></p>
   <p class="ml-2">Fecha de publicación: {{ post.creation_date }}</p>
 </div>
   
  
  {% if user.is_superuser or user.is_admin or user.is_collaborator %}
    <div class="flex justify-center items-center mt-4 gap-4">
      <a 
        class="bg-red-500 h-6 text-white px-2 rounded-lg text-sm" 
        href="{% url 'post:post_delete' slug=post.slug %}"
      >Eliminar post</a>
      {% if user == post.author %}
        <a 
          class="bg-blue-500 h-6 text-white px-2 rounded-lg text-sm" 
          href="{% url 'post:post_update' slug=post.slug %}"
        >Editar post</a>
      {% endif %}
   </div>       
  {% endif %}



 {% if post.comments.count > 0 %}
     <ul>
         {% for comment in post.comments.all %}
   
          
          {% if comment.id == editing_comment_id %}
             <form method="post" action="{% url 'post:comment_update' comment.id %}" class= "mb-8">
                 {% csrf_token %}
                 <div class= " mt-20 flex flex-col border rounded">{{ edit_comment_form.content.label_tag }} {{ edit_comment_form.content }}</div>
                 <button class= "text-blue-500" type="submit">Actualizar</button>
                 <a href="{% url 'post:post_detail' post.slug %}" class="text-red-500">Cancelar</a>
             </form>
           {% elif comment.id == deleting_comment_id %}
               <!-- Formulario de confirmación de eliminación --> 
               <form method="post" action="{% url 'post:comment_delete' comment.id %}">
                  {% csrf_token %}
                  <p>¿Estás seguro de que deseas eliminar este comentario?</p>
                  <button type="submit" class="text-blue-500">Confirmar</button>
                  <a href="{% url 'post:post_detail' post.slug %}" class="text-red-500">Cancelar</a>
               </form>
               {% else %} 
                  <li class= "mt-4 mb-8 border-t border-gray-600">
                     <p class= "mt-2 ml-2 bg-gray-300 text-xl inline-block rounded">{{ comment.content }}</p>
                     <span class= "mt-2 ml-2 text-md">Escrito por {{ comment.author.username }} </span>
                     {% if comment.author == user %}
                         <a href="?edit_comment={{ comment.id }}" class="ml-2 text-blue-500">Editar</a>
                         <a href="?delete_comment={{ comment.id }}" class="text-red-500">Eliminar</a>
                     {% elif user.is_collaborator and post.author == user and not comment.author.is_admin and not comment.author.is_superuser or user.is_admin or user.is_superuser %}
                         <a href="?delete_comment={{ comment.id }}" class="ml-2 text-red-500">Eliminar</a>
                     {% endif %}
                  </li>
              {% endif %}
          {% endfor %}
     </ul>
  {% endif %}

 {% if user.is_authenticated %}
     {% load static %}
     <form method="post" action="{% url 'post:comment_create' post.slug %}">
        {% csrf_token %}
        <div class="flex flex-row items-center mt-8 ml-2 ">{{ add_comment_form.content.label_tag }} {{ add_comment_form.content}}
            <button type="submit" class="flex bg-white p-2 ml-2 rounded-lg">
                <img class= "w-2 h-2" src="{% static 'assets\enviar.png' %}" alt="icono de enviar">
            </button>
        </div>
     </form>
 {% else %}
     <p>
          <a href="{% url 'user:auth_login' %}" class= "text-blue-500">Inicia sesion </a> para agregar un comentario.
     </p>
 {% endif %}
 <br>
 <br>
 <br>

{% endblock content %}