{% extends 'layouts/post_layout.html' %} 

{% block title %}Actualizar Post| MixDrinks{% endblock title %}

{% block content %} 
<h2>Actualizar: {{ form.instance.title }}</h2>
<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    <div class="flex flex-col gap-4"> 
        <p class="flex flex-col">{{ form.title.label_tag }} {{ form.title }}</p> 
        <p class="flex flex-col"> 
            <label for="id_content">Contenido:</label> {{ form.content }} 
        </p> 
        <p>{{ form.allow_comments.label_tag }} {{ form.allow_comments }}</p> 
        <h3>Imágenes cargadas</h3>

        <div class="flex flex-col gap-4">
        
            {% for active_img in form.active_images %}
            <p> 
                <a href="{{ active_img.image.url }}" target="_blank"> 
                    <img 
                        class="inline-flex w-[200px] aspect-[16/9] object-cover" 
                        src="{{ active_img.image.url }}" 
                        alt="Portada {{ active_img.id }} del post" 
                    />
                   <input 
                        type="checkbox" 
                        name="keep_image_{{ active_img.id }}" 
                        id="keep_image_{{ active_img.id }}" 
                        checked 
                    />
                    <label for="keep_image_{{ active_img.id }}">Activa</label>  
            </p>
            {% endfor %}
        </div>
        
        <h3>Cargar nuevas imágenes</h3> 
    
        <p><input type="file" name="images" multiple/></p>
    </div>

    
    <div class="flex gap-2"> 
        <a href="{% url 'post:post_detail' slug=form.instance.slug %}" 
        class="bg-red-500 text-white p-2 rounded-md">Cancelar</a> 
        
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-md"> 
          Guardar cambios 
        </button> 
    </div>
</form> 
{% endblock content %}