<!-- blog\templates\components\common\footer.html -->
<footer class="h-auto py-4 text-white flex flex-col justify-center items-center bg-gray-500"> 
    <p class="container mx-4 md:mx-8 lg:mx-40 flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-8 bg-red-600 p-4 mt-2"> 
    Blog hecho en la comision I del Informatorio 2024 
    </p>
    <!-- Contacto-->
    <div class="container mx-4 md:mx-8 lg:mx-40 flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-8 bg-red-600 p-4 mt-2">
        <div class="text-center">
            <h3 class="font-semibold">Contacto</h3>
            <p>Correo</p>
        </div>
        <!-- Redes Sociales -->
        <div class="flex justify-center space-x-4">
            <a href="https://facebook.com/tu-cuenta" target="_blank" class="hover:text-blue-500">Facebook</a>
            <a href="https://twitter.com/tu-cuenta" target="_blank" class="hover:text-blue-400">X</a>
            <a href="https://instagram.com/tu-cuenta" target="_blank" class="hover:text-pink-500">Instagram</a>
        </div>
    </div>
 </footer>