{% extends 'layouts/error_layout.html' %}
{% load static %}

{% block title %}Error 500 Error interno{% endblock %}

{% block content %}
    <img src="{% static 'assets/errors/error_500.jpg' %}" alt="Error 500" class="mb-6">
    <h1 class="text-5xl font-bold text-white bg-red-500 rounded-lg p-4 mb-4"> Error interno del servidor (500)</h1>
    <p class="text-lg text-white-700 font-medium mb-4">Estamos trabajando para resolver este problema. Intenta de nuevo más tarde.</p>
    <a href="{% url 'home' %}" class="bg-blue-500 text-white p-2 rounded-lg">Volver al inicio</a>
{% endblock %}
